﻿<div class="wrapper">

	@await Html.PartialAsync("~/Views/Shared/Sections/AccountDetailsPartial/_HeaderPartial.cshtml")

	@await Html.PartialAsync("~/Views/Shared/Sections/AccountDetailsPartial/_ProfilePartial.cshtml")

	@await Html.PartialAsync("~/Views/Shared/Sections/AccountDetailsPartial/_FooterPartial.cshtml")




</div>