<div class="wrapper">

    @await Html.PartialAsync("~/Views/Shared/Sections/SignInPartial/_HeaderPartial.cshtml")

    <section>

        @await Html.PartialAsync("~/Views/Shared/Sections/SignInPartial/_SignInPartial.cshtml")

    </section>

    @await Html.PartialAsync("~/Views/Shared/Sections/SignInPartial/_FooterPartial.cshtml")

</div>


@await Html.PartialAsync("~/Views/Shared/_ScriptValidationPartial.cshtml")