<div class="wrapper">

	@await Html.PartialAsync("~/Views/Shared/Sections/SignUpPartial/_HeaderPartial.cshtml")

	<section>
		@await Html.PartialAsync("~/Views/Shared/Sections/SignUpPartial/_SignUpPartial.cshtml")
	</section>

	@await Html.PartialAsync("~/Views/Shared/Sections/SignUpPartial/_FooterPartial.cshtml")

</div>

@await Html.PartialAsync("~/Views/Shared/_ScriptValidationPartial.cshtml")
