@using WebbApp.ViewModels
@model SignUpViewModel

<div class="middlebox">
    <form method="post" asp-controller="Account" asp-action="SignUp">
        <div class="Createaccount">

            <h1>
                <strong>
                    Create Account
                </strong>
            </h1>

            <p>
                Already have an account?

                <a asp-controller="Account" asp-action="SignIn">  Sign in here.</a>
            </p>
        </div>


        <div class="firstlastname input-validation-error">
            <div class="firstname">
                <p><strong>First name</strong></p>
                <input asp-for=FirstName placeholder="Enter your first name">
            </div>

            <div class="lastname">
                <p><strong>Last name</strong></p>
                <input asp-for=LastName placeholder="Enter your last name">
            </div>

        </div>

        <div class="emailadress input-validation-error">
            <p>
                <strong>
                    Email address
                </strong>
            </p>
            <input asp-for=Email placeholder="Enter your email address">
        </div>

        <div class="password input-validation-error">
            <p>
                <strong>
                    Password
                </strong>
            </p>
            <input asp-for=Password placeholder="******">

        </div>

        <div class="confirmpassword input-validation-error">
            <p>
                <strong>
                    Confirmpassword
                </strong>
            </p>
            <input asp-for=ConfirmPassword placeholder="******">


        </div>
        <div class="checkbox">

            <input asp-for=TermsAndConditions>
            <label asp-for="TermsAndConditions"> I agree to the</label>

            <a href="">
                Terms & Conditions.
            </a>

        </div>

        <nav class="signupbutton">
            <button type="submit">
                Sign up
            </button>
        </nav>

    </form>
</div>