<section class="courses">
    <div class="coursesHeader">
        <div class="CoursesText">
            <h1><strong>Courses</strong></h1>
        </div>

        <div class="coursesInput">
            <div class="dropdown">
                <button>Choose Category &#9660;</button>
                <div class="dropdown-content">
                    <a href="#">Home</a>
                    <a href="#">Courses</a>
                    <a href="#">Contact</a>
                </div>
            </div>

            <div class="searchBox">
                <input type="Courses" placeholder="Search Courses">
            </div>
        </div>

    </div>
</section>
