<section class="workWithUs">
    <div class="WWUText">
        <p>Ready to get started?</p>
        <h1><strong>Take Your <span>Skills</span> to the <br>Next Level</strong></h1>

        <a href="#">Work with us</a>
    </div>

    <img src="/Image/illustration.svg" alt="">

</section>