<div class="downloadourapp">

    <div class="downloadmiddlebox">

        <img class="iphone" src="~/Image/iphone.svg">



        <div class="downloaddevices">

            <h2>
                <strong>
                    Download Our App<br>
                    for Any Devices:
                </strong>
            </h2>

            <div class="Appstore">
                <p>App Store</p>
                <img src="~/Image/stars.svg">

                <div class="editorchoice">
                    <div>
                        <h6>
                            Editor's Choice
                        </h6>
                        <p>
                            rating 4.7, 187K+ reviews
                        </p>
                    </div>
                    <img src="~/Image/appstore.svg">
                </div>
            </div>

            <div class="googleplay">
                <p>Google Play</p>
                <img src="~/Image/stars.svg">

                <div class="editorchoice">
                    <div>
                        <h6>
                            App of the Day
                        </h6>
                        <p>
                            rating 4.8, 30K+ reviews
                        </p>
                    </div>
                    <img src="~/Image/googleplay.svg">
                </div>

            </div>


        </div>


    </div>


</div>