<Header>
    <img src="~/Image/solid.svg" alt="siliconloggo">
    <nav class="options">
        <a href="#">Overview</a>
        <a href="#">Features</a>
        <a href="#">Contact</a>

    </nav>

    <div class="Switchbutton">
        <p>Light</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <p>Dark</p>
    </div>

    <div class="signButtons">

        <nav class="signIn">
            <a asp-controller="Account" asp-action="SignIn">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>Sign in
            </a>
        </nav>

        <nav class="signUp">
            <a asp-controller="Account" asp-action="SignUp">
                <i class="fa-solid fa-user-plus"></i>Sign up
            </a>
        </nav>

    </div>
</Header>