<div class="subscribe">
    <div class="subscribeHeader">
        <h1>
            <strong>Don't Want to Miss Anything?</strong>
            <img src="~/Image/arrow.svg">
        </h1>
    </div>

    <div class="newsLetterCheckBoxes">
        <div class="subTitle">
            <h5>
                <strong>
                    Sign up for <br>
                    Newsletters
                </strong>
            </h5>
        </div>

        <div class="checkBoxes">
            <form class="checkBoxesUp" action="#">
                <input type="checkbox" value="Daily Newsletter">
                <label for="Daily Newsletter"> Daily Newsletter</label>

                <input type="checkbox" value="Advertising Updates">
                <label for="Advertising Updates"> Advertising Updates</label>

                <input type="checkbox" value="Week in Review">
                <label for="Week in Review"> Week in Review</label>

            </form>

            <form class="checkBoxesDown" action="#">
                <input type="checkbox" value="Event Updates">
                <label for="Event Updates"> Event Updates</label>

                <input type="checkbox" value="Startups Weekly">
                <label for="Startups Weekly"> Startups Weekly</label>

                <input type="checkbox" value="Podcasts">
                <label for="Podcasts"> Podcasts</label>
            </form>

        </div>

    </div>

    <div class="subInput">
        <div class="subUp">
            <input type="Your Email" placeholder="Your Email">

            <a href="#">
                Subscribe*
            </a>
        </div>

        <p>
            Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>
        </p>
    </div>


</div>