<div class="switchbetween">

    <div class="darkmode">

        <h2>
            <strong>
                Switch Between
            </strong>
        </h2>



    </div>

    <div class="lightmode">

        <h2>
            <strong>

                Light & Dark Mode
            </strong>
        </h2>


    </div>

    <img src="~/Image/darklightmode.svg">



</div>