<div class="TaskManagement">
    <div class="Managementtext">
        <h2>
            <strong>
                Task Management<br>
                Assistant You <br>
                Gonna Love
            </strong>

        </h2>

        <p class="Managementfirsttext">
            We offer you a new generation of task management system.<br>
            Plan, manage & track all your tasks in one flexible tool.
        </p>

        <nav class="GetstartedButton">

            <a href="#">Ger started for free</a>

        </nav>

        <p class="Managementsecondtext">
            <strong>

                Largest companies use our tool to work efficiently

            </strong>
        </p>

        <div class="CopmanyLogo">

            <img src="~/Image/logos.svg" alt="Companylogo">

        </div>

    </div>

    <div class="dashboard">

        <img src="~/Image/Dashboard.svg" alt="Dashboard">


    </div>

</div>