<div class="Tools">

    <div class="OurTool">

        <h2>
            <strong>

                What Do You Get with Our Tool?

            </strong>
        </h2>

        <p class="undertexttool">
            Make sure all your tasks are organized so you can set the priorities and focus<br>
        <p class="undertext">on important.</p>
        </p>

    </div>

    <div class="Toolsupside">

        <a href="#">
            <i class="fa-regular fa-comments"></i>

            <h3>
                <strong>
                    Comments on Tasks
                </strong>
            </h3>

            <p>
                Id mollis consectetur congue egestas egestas<br>
                suspendisse blandit justo.
            </p>

        </a>

        <a href="#">
            <i class="fa-solid fa-chart-line"></i>

            <h3>
                <strong>
                    Tasks Analytics
                </strong>
            </h3>

            <p>
                Non imperdiet facilisis nulla tellus Morbi<br>
                scelerisque eget adipiscing vulputate.
            </p>

        </a>

        <a href="#">
            <i class="fa-solid fa-user-group"></i>

            <h3>
                <strong>
                    Multiple Assignees
                </strong>
            </h3>

            <p>
                A elementum, imperdiet enim, pretium etiam<br>
                facilisi in aenean quam mauris.
            </p>
        </a>

    </div>

    <div class="Toolsdown">

        <a href="#">
            <i class="fa-solid fa-bell"></i>

            <h3>
                <strong>
                    Notifications
                </strong>
            </h3>

            <p>
                Diam, suspendisse velit cras ac. Lobortis diam<br>
                volutpat, eget pellentesque viverra.
            </p>
        </a>

        <a href="#">
            <i class="fa-solid fa-list-check"></i>

            <h3>
                <strong>
                    Sections & Subtasks
                </strong>
            </h3>

            <p>
                Mi feugiat hac id in. Sit elit placerat lacus nibh<br>
                lorem ridiculus lectus.
            </p>
        </a>


        <a href="#">
            <i class="fa-solid fa-shield"></i>

            <h3>
                <strong>
                    Data Security
                </strong>
            </h3>

            <p>
                Aliquam malesuada neque eget elit nulla<br>
                vestibulum nunc cras.
            </p>
        </a>

    </div>


</div>