<div class="workTools">
    <div class="workToolsText">
        <h2><strong>Integrate Top Work Tools</strong></h2>
        <p class="workToolsUpperText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus</p>
        <p class="workToolsUnderText">facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
    </div>

    <div class="workToolsBoxes">

        <div class="workToolsUp">
            <a href="">
                <img src="~/Image/Google.svg" alt="Logo">
                <p>
                    Lorem magnis pretium sed <br>
                    curabitur nunc facilisi nunc cursus <br>
                    sagittis.
                </p>
            </a>

            <a href="">
                <img src="~/Image/Zoom.svg" alt="Logo">
                <p>
                    In eget a mauris quis. Tortor dui <br>
                    tempus quis integer est sit <br>
                    natoque placerat dolor.
                </p>

            </a>

            <a href="">
                <img src="~/Image/slack.svg" alt="Logo">
                <p>
                    Id mollis consectetur congue <br>
                    egestas egestas suspendisse <br>
                    blandit justo.
                </p>
            </a>

            <a href="">
                <img src="~/Image/gmail.svg" alt="Logo">
                <p>
                    Rutrum interdum tortor, sed at <br>
                    nulla. A cursus bibendum elit purus <br>
                    cras praesent.
                </p>
            </a>
        </div>


        <div class="workToolsDown">
            <a href="">
                <img src="~/Image/Trello.svg" alt="Logo">
                <p>
                    Congue pellentesque amet, viverra <br>
                    curabitur quam diam scelerisque <br>
                    fermentum urna.
                </p>
            </a>

            <a href="">
                <img src="~/Image/mailchimp.svg" alt="Logo">
                <p>
                    A elementum, imperdiet enim,<br>
                    pretium etiam facilisi in aenean <br>
                    quam mauris.
                </p>
            </a>

            <a href="">
                <img src="~/Image/Dropbox.svg" alt="Logo">
                <p>
                    Ut in turpis consequat odio diam <br>
                    lectus elementum. Est faucibus <br>
                    blandit platea.
                </p>
            </a>

            <a href="">
                <img src="~/Image/Evernote.svg" alt="Logo">
                <p>
                    Faucibus cursus maecenas lorem <br>
                    cursus nibh. Sociis sit risus id. Sit <br>
                    facilisis dolor arcu.
                </p>
            </a>
        </div>


    </div>


</div>   