.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
body{
    overflow-x: hidden;
    width: 1920px;
}
a{
    text-decoration: none;
    color: black;
}


Header {
    display: flex;
    align-items: center;
    margin-left: 300px; 
    margin-top: 15px;


.options{
    margin-left: 50px;
    display: flex;
    gap: 20px;

    a:hover{
        text-decoration-line: underline;
    }
}
.Switchbutton{
    display: flex;
    gap: 20px;
    margin-left: 430px;
    margin-top: 15px;

    p{
        font-size: 15px;
        margin-top: 5px;
    }



    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }


      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }


      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }


      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
}

.signButtons{ 
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 15px;

    .signIn{
        a{
            background-color: #eff2fc;
            border: 1px solid;
            border-color: #eff2fc;
            color: black;
            border-radius: 10px;
            padding: 10px 30px;
            font-size: 15px;

            &:hover{
                background-color: #6366f1;
                color: #eff2fc;
            }

            i{
                margin-right: 10px;
            }
        }
    }

    .signUp{
        a{
            background-color: #6366f1;
            border: 1px solid;
            border-color: #6366f1;
            color: white;
            border-radius: 10px;
            padding: 10px 30px;
            font-size: 15px;

            &:hover{
                background-color: #eff2fc;
                border-color: #eff2fc;
                color: black;
            }

            i{
                margin-right: 10px;
            }
        }
    }

}

}


main {

    .middlebox {
        display: grid;
        justify-content: center;

        .Createaccount {
            margin-top: 150px;

            p {
                margin-top: 30px;

                a {
                    color: #6366f1;
                }
            }
        }

        .firstlastname {
            display: flex;
            gap: 25px;
            margin-top: 40px;

            .input-validation-error {
                background-color: #f8dcdc;
                border: 1px solid;
                border-color: red;
            }

            input {
                border: 1px solid;
                padding: 10px 25px;
                border-radius: 10px;
            }
        }

        .emailadress {
            margin-top: 20px;

            .input-validation-error {
                background-color: #f8dcdc;
                border: 1px solid;
                border-color: red;
            }

            input {
                border: 1px solid;
                padding: 10px 155px;
                border-radius: 10px;
            }
        }

        .password {
            margin-top: 20px;

            .input-validation-error {
                background-color: #f8dcdc;
                border: 1px solid;
                border-color: red;
            }


            input {
                border: 1px solid;
                padding: 10px 155px;
                border-radius: 10px;
            }
        }

        .confirmpassword {
            margin-top: 20px;

            .input-validation-error {
                background-color: #f8dcdc;
                border: 1px solid;
                border-color: red;
            }

            input {
                border: 1px solid;
                padding: 10px 155px;
                border-radius: 10px;
            }
        }

        .checkbox {
            margin-top: 20px;

            a {
                color: #6366f1;
            }
        }

        .signupbutton {
            margin-top: 25px;

            button {
                border: 1px solid;
                padding: 15px 220px;
                border-radius: 10px;
                background-color: #6366f1;
                color: white;

                &:hover {
                    background-color: #eff2fc;
                    color: black;
                }
            }
        }
    }
}





footer{

    height: 204px;
    width: 1920px;
    background-color: white;
    margin-top: 20px;
    
    
    .socialmedia{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        gap: 15px;
    
        a{
            background-color: #eff2fc;
            padding: 20px;
            border-radius: 10px;
    
            &:hover{
                background-color: #6366f1;
            }
        }
    }
    
    .copyright{
        display: grid;
        margin-top: 40px;
        justify-content: center;
    
        .undertext{
            display: flex;
            justify-content: center;
        }
    }
    }