.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
body{
    overflow-x: hidden;
    width: 1920px;
}
a{
    text-decoration: none;
    color: black;
}


Header {
    display: flex;
    align-items: center;
    margin-left: 300px; 
    margin-top: 15px;


.options{
    margin-left: 50px;
    display: flex;
    gap: 20px;

    a:hover{
        text-decoration-line: underline;
    }
}
.Switchbutton{
    display: flex;
    gap: 20px;
    margin-left: 430px;
    margin-top: 15px;

    p{
        font-size: 15px;
        margin-top: 5px;
    }



    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }


      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }


      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }


      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
}

}

main {


    .profile {
        display: flex;

        .profilePicture {
            @mixin object-center {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            $circleSize: 165px;
            $radius: 100px;
            $shadow: 0 0 10px 0 rgba(255,255,255,.35);
            $fontColor: rgb(250,250,250);

            .profile-pic {
                margin-left: 350px;
                margin-top: 70px;
                color: transparent;
                transition: all .3s ease;
                @include object-center;
                position: relative;
                transition: all .3s ease;

                input {
                    display: none;
                }

                img {
                    position: absolute;
                    object-fit: cover;
                    width: $circleSize;
                    height: $circleSize;
                    box-shadow: $shadow;
                    border-radius: $radius;
                    z-index: 0;
                }

                .-label {
                    cursor: pointer;
                    height: $circleSize;
                    width: $circleSize;
                }

                &:hover {
                    .-label {
                        @include object-center;
                        background-color: rgba(0,0,0,.8);
                        z-index: 10000;
                        color: $fontColor;
                        transition: background-color .2s ease-in-out;
                        border-radius: $radius;
                        margin-bottom: 0;
                    }
                }

                span {
                    display: inline-flex;
                    padding: .2em;
                    height: 2em;
                }
            }


            .profileButton {
                margin-left: 350px;
                margin-top: 40px;

                p {
                    font-size: 20px;
                    margin-left: 45px;
                }



                .accountDetailsButton {
                    margin-top: 40px;

                    a {
                        background-color: white;
                        border: 1px solid;
                        border-color: white;
                        border-radius: 10px;
                        padding: 10px 50px;
                        color: black;


                        &:hover {
                            background-color: #6366F1;
                            border: 1px solid;
                            border-color: #6366F1;
                        }
                    }
                }


                .signOutButton {
                    margin-top: 20px;


                    a {
                        background-color: white;
                        border: 1px solid;
                        border-color: white;
                        border-radius: 10px;
                        padding: 10px 74px;
                        color: black;


                        &:hover {
                            background-color: #6366F1;
                            border: 1px solid;
                            border-color: #6366F1;
                        }
                    }
                }
            }
        }

        .accountDetailsMain {
            width: 856px;
            height: 1053px;
            background-color: white;
            margin-left: 120px;
            margin-top: 80px;


            .accountDetailsHeader {

                p {
                    font-size: 20px;
                    color: #6366F1;
                }
            }


            .firstNameLastname {
                display: flex;
                gap: 40px;
                margin-top: 40px;




                .firstName, .lastName {
                    input {
                        padding: 5px 30px;
                    }

                    .input-validation-error {
                        background-color: #f8dcdc;
                        border: 1px solid;
                        border-color: red;
                    }
                }
            }


            .emailAddressPhoneNumber {
                display: flex;
                gap: 40px;
                margin-top: 40px;


                .emailAddress, .phoneNumber {
                    input {
                        padding: 5px 30px;
                    }

                    .input-validation-error {
                        background-color: #f8dcdc;
                        border: 1px solid;
                        border-color: red;
                    }
                }
            }


            .accountDetailsBio {
                margin-top: 40px;

                input {
                    padding: 30px 178px;
                }
            }

            .accountDetailsButtons {
                display: flex;
                margin-top: 30px;
                gap: 20px;

                .cancel {
                    button {
                        background-color: #EFF2FC;
                        border: 1px solid;
                        border-color: #EFF2FC;
                        border-radius: 10px;
                        padding: 10px 25px;
                        color: black;

                        &:hover {
                            background-color: #6366F1;
                            border: 1px solid;
                            border-color: #6366F1;
                            color: white;
                        }
                    }
                }


                .saveChanges {

                    button {
                        background-color: #6366F1;
                        border: 1px solid;
                        border-color: #6366F1;
                        border-radius: 10px;
                        padding: 10px 25px;
                        color: white;

                        &:hover {
                            background-color: #EFF2FC;
                            border: 1px solid;
                            border-color: #EFF2FC;
                            color: black;
                        }
                    }
                }
            }


            .adressHeader {
                margin-top: 40px;

                p {
                    font-size: 20px;
                    color: #6366F1;
                }
            }


            .adressLine1 {
                margin-top: 40px;

                input {
                    padding: 10px 178px;
                }
            }



            .addressLine2 {
                margin-top: 40px;

                input {
                    padding: 10px 178px;
                }
            }


            .postalCodeCity {
                margin-top: 40px;
                display: flex;
                gap: 40px;

                .postalCode, .city {
                    input {
                        padding: 5px 30px;
                    }
                }
            }

            .postalCodeCityButtons {
                display: flex;
                margin-top: 30px;
                gap: 20px;


                .cancel2 {
                    button {
                        background-color: #EFF2FC;
                        border: 1px solid;
                        border-color: #EFF2FC;
                        border-radius: 10px;
                        padding: 10px 25px;
                        color: black;

                        &:hover {
                            background-color: #6366F1;
                            border: 1px solid;
                            border-color: #6366F1;
                            color: white;
                        }
                    }
                }

                .saveChanges2 {
                    button {
                        background-color: #6366F1;
                        border: 1px solid;
                        border-color: #6366F1;
                        border-radius: 10px;
                        padding: 10px 25px;
                        color: white;

                        &:hover {
                            background-color: #EFF2FC;
                            border: 1px solid;
                            border-color: #EFF2FC;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}





footer{

    height: 204px;
    width: 1920px;
    background-color: white;
    margin-top: 60px;
    
    
    .socialmedia{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        gap: 15px;
    
        a{
            background-color: #eff2fc;
            padding: 20px;
            border-radius: 10px;
    
            &:hover{
                background-color: #6366f1;
            }
        }
    }
    
    .copyright{
        display: grid;
        margin-top: 40px;
        justify-content: center;
    
        .undertext{
            display: flex;
            justify-content: center;
        }
    }
    }