<div class="wrapper">

	@await Html.PartialAsync("~/Views/Shared/Sections/CoursesPartial/_HeaderPartial.cshtml")

	@await Html.PartialAsync("~/Views/Shared/Sections/CoursesPartial/_CoursesPartial.cshtml")

	@await Html.PartialAsync("~/Views/Shared/Sections/CoursesPartial/_CoursesAlternativePartial.cshtml")

	@await Html.PartialAsync("~/Views/Shared/Sections/CoursesPartial/_WorkWithUsPartial.cshtml")


	@await Html.PartialAsync("~/Views/Shared/Sections/CoursesPartial/_FooterPartial.cshtml")

</div>