<div class="wrapper">

    @await Html.PartialAsync("~/Views/Shared/Sections/HomePartial/_HeaderPartial.cshtml")

    <Section>
        @await Html.PartialAsync("~/Views/Shared/Sections/HomePartial/_TaskManagementPartial.cshtml")
    </Section>

    <Section>
        @await Html.PartialAsync("~/Views/Shared/Sections/HomePartial/_ToolsPartial.cshtml")
    </Section>

    <Section>
        @await Html.PartialAsync("~/Views/Shared/Sections/HomePartial/_SwitchBetweenPartial.cshtml")
    </Section>

    <Section>
        @await Html.PartialAsync("~/Views/Shared/Sections/HomePartial/_ManageWorkPartial.cshtml")
    </Section>

    <Section>
        @await Html.PartialAsync("~/Views/Shared/Sections/HomePartial/_DownloadOurAppPartial.cshtml")
    </Section>

    <Section>
        @await Html.PartialAsync("~/Views/Shared/Sections/HomePartial/_WorkToolsPartial.cshtml")
    </Section>

    <Section>
        @await Html.PartialAsync("~/Views/Shared/Sections/HomePartial/_SubscribePartial.cshtml")
    </Section>

    @await Html.PartialAsync("~/Views/Shared/Sections/HomePartial/_FooterPartial.cshtml")

</div>